<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>Dashboard</title>
	<link rel="stylesheet" href="/static/css/load-styles.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pzh's blog!!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input class="form-control" placeholder="Search..." type="text">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">文章</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

        

         
          
            <!-------------------------------------------------------------------------------------------------------  -->
            {% block page-content %}
            
            <div >
				<div id="wpbody">
				<form action="#" method="get">
				<h2>文章 <a href="/create_article/" class="add-new-h2">写文章</a></h2>
                
				<ul class="subsubsub">
                    <li class="all"><a href="#" class="current">全部<span class="count">（）</span></a> |</li>
                    <li class="publish"><a href="#">已发布<span class="count">（）</span></a></li>
				</ul>
                </form>
				<form id="posts-filter" action="/" method="get">
					<p class="search-box">
                    <label class="screen-reader-text" for="post-search-input">搜索文章:</label>
                    <input type="search" id="post-search-input" name="s" value="">
                    <input type="submit" name="" id="search-submit" class="button" value="搜索文章"></p>
                
                    <input type="hidden" name="post_status" class="post_status_page" value="all">
                    <input type="hidden" name="post_type" class="post_type_page" value="post">

					<input type="hidden" id="_wpnonce" name="_wpnonce" value="b8c5fa794f"><input type="hidden" name="_wp_http_referer" value="/wp-admin/edit.php">	<div class="tablenav top">

					<div class="alignleft actions bulkactions">
                        <label for="bulk-action-selector-top" class="screen-reader-text">选择批量操作</label>
                        <select name="action" id="bulk-action-selector-top">
                        <option value="-1">批量操作</option>
                        <option value="edit" class="hide-if-no-js">编辑</option>
                        <option value="trash" selected>移至回收站</option>
                  </select>
                        <input type="submit" name="" id="doaction" class="button action" value="应用">
					</div>
                    <div class="alignleft actions">
                        <label for="filter-by-date" class="screen-reader-text">按日期筛选</label>
                        <select name="m" id="filter-by-date">
                            <option selected="selected" value="0">全部日期</option>
                            {% for month in archives_list %}
                            <option value="201508">{{ month.archives_date }}</option>
                            {% endfor %}
						</select>
                        <select name="cat" id="cat" class="postform">
                            <option value="0">查看所有分类目录</option>
                            {% for category in category_name %}
                            <option class="level-0" value="4">{{ category }}</option>
                            {% endfor %}
                        </select>
						<input type="submit" name="filter_action"  class="button" value="筛选">		
					</div>
					<div class="tablenav-pages">
                    	<span class="displaying-num">个项目</span>
						<span class="pagination-links">
                        	<a class="first-page disabled" title="前往第一页" href="./文章 ‹ Pzh's blog!! — WordPress_files/文章 ‹ Pzh's blog!! — WordPress.html">«</a>
							<a class="prev-page disabled" title="前往上一页" href="#">‹</a>
							<span class="paging-input">第<label for="current-page-selector" class="screen-reader-text">选择页面</label><input class="current-page" id="current-page-selector" title="当前页面" type="text" name="paged" value="1" size="1">页，共<span class="total-pages">3
                        	</span>页
                        </span>
                            <a class="next-page" title="前往下一页" href="#">›</a>
                            <a class="last-page" title="前往最后一页" href="#">»</a></span>
					</div>		
                    	<input type="hidden" name="mode" value="list">
					<div class="view-switch">
                        <a href="#" class="view-list current" id="view-switch-list"><span class="screen-reader-text">列表视图</span></a>
                        <a href="#" class="view-excerpt" id="view-switch-excerpt"><span class="screen-reader-text">摘要视图</span></a>
					</div>

	
					<table class="wp-list-table widefat fixed posts">
						<thead>
						<tr>
						<th scope="col" id="cb" class="manage-column column-cb check-column" style="">
                        <label class="screen-reader-text" for="cb-select-all-1">全选</label><input id="cb-select-all-1" type="checkbox">
                        </th>
                        <th scope="col" id="title" class="manage-column column-title sortable desc" style="">
                        	<a href="#">
                            <span>标题</span>
                            <span class="sorting-indicator"></span>
                            </a>
                        </th>
                        <th scope="col" id="author" class="manage-column column-author" style="">作者</th>
                        <th scope="col" id="categories" class="manage-column column-categories" style="">分类目录</th>
                        <th scope="col" id="tags" class="manage-column column-tags" style="">标签</th>
                        <th scope="col" id="comments" class="manage-column column-comments num sortable desc" style="">
                        	<a href="#">
                            <span>
                            	<span class="vers">
                                	<span title="评论" class="comment-grey-bubble">
                                	</span>
                                </span>
                            </span>
                            <span class="sorting-indicator"></span>
                            </a>
                         </th>
                         <th scope="col" id="date" class="manage-column column-date sortable asc" style="">
                         	<a href="#">
                            <span>日期</span>
                            <span class="sorting-indicator"></span>
                            </a>
                         </th>	
                         </tr>
					 </thead>

                    <tfoot>
                        <tr>
                        <th scope="col" class="manage-column column-cb check-column" style="">
                            <label class="screen-reader-text" for="cb-select-all-2">全选</label>
                            <input id="cb-select-all-2" type="checkbox">
                        </th>
                        <th scope="col" class="manage-column column-title sortable desc" style="">
                            <a href="#">
                                <span>标题</span>
                                <span class="sorting-indicator"></span>
                            </a>
                         </th>
                         <th scope="col" class="manage-column column-author" style="">作者</th>
                         <th scope="col" class="manage-column column-categories" style="">分类目录</th>
                         <th scope="col" class="manage-column column-tags" style="">标签</th>
                         <th scope="col" class="manage-column column-comments num sortable desc" style="">
                            <a href="#">
                                <span><span class="vers"><span title="评论" class="comment-grey-bubble"></span></span></span>
                                <span class="sorting-indicator"></span>
                            </a>
                         </th>
                         <th scope="col" class="manage-column column-date sortable asc" style="">
                            <a href="#">
                            <span>日期</span>
                            <span class="sorting-indicator"></span>
                            </a>
                         </th>	
                         </tr>
                	</tfoot>
<!-- ----------------------------------------------------------------   -->   
					{% for article in latest_article %}
					<tbody id="the-list">
			
						<tr id="post-230" class="post-230 type-post status-publish format-standard hentry category-linux  iedit author-self level-0">
						<th scope="row" class="check-column">
						<label class="screen-reader-text" for="cb-select-230"></label>
							<input id="cb-select-230" type="checkbox" name="post[]" value="230">
							<div class="locked-indicator"></div>
						</th>
                        
                     
						<td class="post-title page-title column-title"><strong>
                        	<a class="row-title" href="#">{{ article }}
                            </a></strong>
							<div class="locked-info"><span class="locked-avatar"></span> <span class="locked-text"></span>
                            </div>
							<div class="row-actions">
                            	<span class="edit">
                            		<a href="#" title="编辑此项目">编辑</a> | 
                                </span>
                                <span class="inline hide-if-no-js"><a href="#" class="editinline" title="实时编辑此项目">快速编辑</a> | 
                                </span>
                                <span class="trash"><a class="submitdelete" title="移动此项目到回收站" href="#">回收站</a> | 
                                </span>
                                <span class="view"><a href="#" title="查看"svn服务器搭建"" rel="permalink">查看</a>
                                </span>
                             </div>
                        </td>			
                        <td class="author column-author"><a href="#">{{ article.author }}</a></td>  <!--  发表日志作者  -->
						<td class="categories column-categories"><a href="#">{{ article.category }}</a></td>   
                        <td class="tags column-tags">—</td>			
                        <td class="comments column-comments">
							<a href="#" title="0待审中" class="post-com-count"><span class="comment-count">0</span></a>			
            			</td>
						<td class="date column-date"><abbr>{{ article.publish_date}}</abbr><br>已发布</td>		
                        </tr>
                        
					</tbody>
                    {% endfor %}
		</table>
	<div class="tablenav bottom">

		<div class="alignleft actions bulkactions">
			<label for="bulk-action-selector-bottom" class="screen-reader-text">选择批量操作</label>
            <select name="action2" id="bulk-action-selector-bottom">
                <option value="-1" selected="selected">批量操作</option>
                <option value="edit" class="hide-if-no-js">编辑</option>
                <option value="trash">移至回收站</option>
    		</select>
			<input type="submit" name="" id="doaction2" class="button action" value="应用">
		</div>
		
	</div>
		
	

</form>


	


<div class="clear"></div></div><!-- wpbody-content -->
<div class="clear"></div></div><!-- wpbody -->
{% endblock %}
            <!-------------------------------------------------------------------------------------------------------  -->
          
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! 
    <script src="Dashboard%20Template%20for%20Bootstrap_files/holder.htm"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>