{% extends "index.html" %}
{% block page-content %}




<SCRIPT src="/static/js/jquery.min.js"></SCRIPT>

{% for article in category_list %} 
     <a href="/article/{{article.id}}" >
     
        	<h2 class="blog-post-title">{{ article.title }}</h2></a> 
        	<h2 class="blog-post-meta"> {{ article.publish_date }} </h2>
            
            <p id="{{forloop.revcounter0}}">{{ article.content| truncatechars:150 }}		</p>
            
          <script type="text/javascript">
		  	 var times = $("p").attr("id"); 	 
			 	
			
			
			 for(var i=times;i>=0;i--)
			 {
				
			
				var article_content=$("#" + i).text();
				$("#" + i).html(article_content);
				if (!article_content)
				{ 
					//alert(i);
					break;
				}
			   	
		
			 }
				 
   		  </script>
   
     
	
	
	


  
  	<hr /><br /> 


{% endfor %} 


{% endblock %}